<div *ngIf="!articulos">
    <div class="progress" id="carga">
        <div class="indeterminate"></div>
    </div>
</div>

<!-- ARTICULOS -->
<div class="row" *ngIf="articulos" id="listado">
    <h1>Articulos</h1>
    <div *ngFor="let articulo of articulos">

        <!-- CARD -->
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img *ngIf="articulo.foto" class="adapt" src="{{url + articulo.foto}}" alt="{{articulo.nombre}}">
                    <img *ngIf="!articulo.foto" class="adapt"
                        src="https://screenshotlayer.com/images/assets/placeholder.png" alt="No se encontro la imaagen">
                </div>

                <!-- CONTENIDO -->
                <div class="card-content">
                    <span class="card-title">{{articulo.nombre}}</span>
                    <p [innerHTML]="articulo.descripcion"></p>
                    <br>
                    <p>- Cantidad disponible actual {{articulo.cantidad_disponible}}</p>
                </div>
                <!-- /CONTENIDO -->

                <!-- ACCIONES -->
                <div class="card-action">
                    <a (click)="updateArticulo(articulo.id)" class="click">Editar</a>
                    <a class="click" (click)="historial()" href="{{urlHistorial + articulo.id + '/pdf'}}"
                        target="_blank">Descargar Historial</a>
                </div>
                <!-- /ACCIONES -->
            </div>
        </div>
        <!-- /CARD -->
    </div>
</div>
<!-- /ARTICULOS -->

<div *ngIf="articulos.length == 0">
    <p class="alert">No encontramos articulos</p>
</div>