<div class="row">
    <h1>Perfil</h1>
    <form class="col s12 Perfil" #perfilForm="ngForm" (submit)="onSubmit(perfilForm)">

        <div class="row">
            <div class="col s12 m4">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" [(ngModel)]="persona.nombre" id="nombre" disabled>
            </div>
            <div class="col s12 m4">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" [(ngModel)]="persona.apellido" id="apellido" disabled>
            </div>
            <div class="col s12 m4">
                <label for="codigo">Codigo</label>
                <input type="text" name="codigo" id="codigo" [(ngModel)]="persona.id" disabled>
            </div>
        </div>

        <!-- IMAGEN -->
        <div class="row">
            <div class="col s12 center">
                <img *ngIf="persona.foto" src="{{url + identity.foto}}" alt="Foto de perfil">
                <img *ngIf="!persona.foto" src="https://screenshotlayer.com/images/assets/placeholder.png"
                    alt="Foto de perfil">
            </div>
            <div class="col s12 space center">
                <angular-file-uploader [config]="afuConfig" [resetUpload]=resetVar (ApiResponse)="upload($event)">
                </angular-file-uploader>
            </div>
        </div>
        <!-- /IMAGEN -->

        <div class="rol">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input type="password" class="validate" id="password" name="password" #password
                    [(ngModel)]="persona.password" required>
                <label for="password">Contraseña</label>
            </div>

            <div class="col s12 center space">
                <input type="submit" value="Actualizar" class="btn-large waves-effect waves-light center"
                    [disabled]="perfilForm.invalid">
            </div>
        </div>

    </form>
</div>