.form-upload{
    span, button{
      color: white;
    }

    .fileUpload{
      position: relative;
      overflow: hidden;
      margin: 10px;

      input{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
  }

  div.space{
    margin-bottom: 20px;
  }

  .alert{
    background-color: rgb(247, 247, 15);
    padding: 10px;
    border-style: solid;
    border: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 20px;
  }

  .clear-btn{
    background-color: rgb(2, 198, 247);
    padding: 5px;
    border-style: solid;
    border: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    width: auto;
  }
