<div class="col s12">

    <form class="col s12 m7 offset-m3 form-upload" #articuloForm="ngForm" (submit)="onSubmit(articuloForm)" *ngIf="articulo.id == 0">

        <!-- NOMBRE, CANTIDAD Y PRECIO -->
        <div class="row">

            <div class="input-field col s12 m4">
                <input type="text" class="validate" name="nombre" id="nombre"
                #nombre="ngModel" [(ngModel)]="articulo.nombre" required>
                <label for="nombre">Nombre</label>
                <label for="nombre" *ngIf="!nombre.valid && nombre.touched">Nombre obligatorio</label>
            </div>

            <div class="input-field col s12 m4">
                <input type="number" class="validate" name="cantidad" id="cantidad"
                #cantidad="ngModel" [(ngModel)]="articulo.cantidad" required>
                <label for="cantidad">Cantidad</label>
                <label for="cantidad" *ngIf="!cantidad.valid && cantidad.touched">Cantidad Obligatoria</label>
            </div>

            <div class="input-field col s12 m4">
                <input type="number" name="precio" id="precio" class="validate"
                #precio="ngModel" [(ngModel)]="articulo.precio" required>
                <label for="precio">Precio</label>
                <label for="precio" *ngIf="!precio.valid && precio.valid">Precio Obligatorio</label>
            </div>
        </div>
        <!-- /NOMBRE, CANTIDAD Y PRECIO -->

        <!-- DESCRIPTION -->
        <div class="row">
            <div class="col s12">
                <textarea [froalaEditor]="options" name="description"
                #description="ngModel" [(ngModel)]="articulo.descripcion"></textarea>
            </div>
        </div>
        <!-- /DESCRIPTION -->

        <div class="row">

            <!-- IMAGEN
            <div class="center col s12 space">
                <div id="fileName" class="fileUpload btn blue darken-3">
                    <span><i class="material-icons right">add_a_photo</i>Subir Imagen</span>
                    <input type="file" name="picture" id="file" class="upload" (change)="toogleButtons()"
                    #foto="ngModel" [(ngModel)]="articulo.foto" accept="image/*">
                </div>
                <button id="btnUpload" type="submit" class="btn btn-flay cyan hide"> {{dirPicture}} </button>
                <button id="btnCancel" type="button" class="btn btn-flay red hide" (click)="toogleButtons()">
                    <i class="material-icons">cancel</i>
                </button>

            </div>
            /IMAGEN -->

            <div class="row center">
                    <input type="submit" value="Crear"  class="btn-large waves-effect waves-light center"
                    [disabled]="articuloForm.invalid">
            </div>

        </div>


    </form>

    <div class="row">
        <div class="col s12 space center" *ngIf="articulo.id != 0">
            <p class="alert">El articulo fue creado, ¿deseas agregar una imagen?, la imagen no puede pesar más de {{peso}}MB</p>
            <angular-file-uploader
                [config]="afuConfig"
                [resetUpload]=resetVar
                (ApiResponse)="upload($event)">
            </angular-file-uploader>
        </div>
        <div class="row">
            <div class="col s12">
                <p id="clearArt" class="center clear-btn">Quizás más tarde, quiero agregar más productos</p>
            </div>
        </div>
    </div>


</div>
