<header>
  <nav class="blue darken-3">
      <div class="nav-wrapper container">
        <a href="#!" class="brand-logo">App</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Inicio</a></li>
          <li><a href="#" class="blue darken-1">Ingresar</a></li>

          <!-- EMPLEADO -->
          <li><a href="#"><i class="material-icons right">laptop_chromebook</i>Articulo</a></li>
          <li><a href="#"><i class="material-icons right">event_note</i>Prestamo</a></li>
          <!-- /EMPLEADO -->
          
          <li><a href="#"><i class="material-icons right">account_circle</i>Perfil</a></li>
          <li><a href="#"><i class="material-icons right">exit_to_app</i>Salir</a></li>

          <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>
        </ul>
      </div>
    </nav>
  
    <!-- MENU MOVIL -->
    <ul class="sidenav collapsible" id="mobile-demo">
      <li>
        <div class="collapsible-header"><i class="material-icons">home</i>Inicio</div>
      </li>
  
      <li>
          <div class="collapsible-header"><i class="material-icons">face</i>Ingresar</div>      
      </li>
  
      <!-- MENU EMPLEADO -->
      <li>
        <div class="collapsible-header"><i class="material-icons">account_circle</i>Perfil</div>
        <div class="collapsible-body">
          <ul>
            <li><a href="#"><i class="material-icons">cloud_upload</i>Subir Foto de perfil</a></li>
            <li><a href="#"><i class="material-icons">laptop_chromebook</i>Articulo</a></li>
            <li><a href="#"><i class="material-icons">event_note</i>Prestamo</a></li>
            <li><a href="#"><i class="material-icons">exit_to_app</i>Salir</a></li>
          </ul>
        </div>
      </li>
      <!-- /MENU EMPLEADO -->
      <!-- MENU ESTUDIANTE -->
      <li>
          <div class="collapsible-header"><i class="material-icons">account_circle</i>Perfil</div>
          <div class="collapsible-body">
            <ul>
                <li><a href="#"><i class="material-icons">cloud_upload</i>Subir Foto de perfil</a></li>
                <li><a href="#"><i class="material-icons">exit_to_app</i>Salir</a></li>
            </ul>
          </div>
      </li>
      <!-- /MENU ESTUDIANTE -->
    </ul>
    <!-- /MENU MOVIL -->
</header>

<div class="container">
  <!-- CONTENIDO -->
  <router-outlet></router-outlet>
</div>