<header>
  <nav class="blue darken-3">
    <div class="nav-wrapper container">
      <a [routerLink]="['/']" class="brand-logo">App</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      
      <!-- MENU -->
      <ul class="right hide-on-med-and-down nav">
        <li *ngIf="identity == null"><a [routerLink]="['/']">Inicio</a></li>
        <li *ngIf="identity == null"><a [routerLink]="['/login']" class="blue darken-1">Ingresar</a></li>

        <!-- EMPLEADO -->

        <!-- ARTICULO -->
        <li *ngIf="identity && identity.nombre && identity.rol">
          <a><i class="material-icons right">laptop_chromebook</i>Articulos</a>
          <ul>
            <li><a [routerLink]="['/articulo/nuevo']"><i class="material-icons right">add</i>Agregar</a></li>
            <li><a [routerLink]="['/articulo/editar']" ><i class="material-icons right">edit</i>Modificar</a></li>
            <li><a [routerLink]="['/articulos']" ><i class="material-icons right">list</i>Listado</a></li>
          </ul>
        </li>
        <!-- /ARTICULO -->

        <!-- PRESTAMO -->
        <li *ngIf="identity && identity.nombre && identity.rol">
          <a><i class="material-icons right">event_note</i>Prestamo</a>
          <ul>
              <li><a [routerLink]="['/articulo/nuevo']"><i class="material-icons right">add</i>Crear</a></li>
              <li><a [routerLink]="['/articulo/nuevo']"><i class="material-icons right">add</i>Agregar</a></li>
          </ul>
        </li>
        <!-- /PRESTAMO -->
        <!-- /EMPLEADO -->

        <!-- PERFIL -->
        <li *ngIf="identity && identity.nombre"><a id="perfilbtn">
            <i class="material-icons right">account_circle</i>
            {{identity.nombre + ' ' + identity.apellido}}</a>
          
            <ul id="Perfil">
                <li><a href="#" onclick="ocultar()"><i class="material-icons right">settings</i>Perfil</a></li>
                <li><a [routerLink]="['/logout/1']"><i class="material-icons right">exit_to_app</i>Salir</a></li>
            </ul>
          </li>
          <!-- /PERFIL -->

        </ul>
        <!-- /MENU -->
      </div>
      
    </nav>
  <!-- MENU MOVIL -->
  <ul class="sidenav collapsible" id="mobile-demo">
    <li onclick="ocultar()" [routerLink]="['/']">
      <div class="collapsible-header"><a class="item"><i class="material-icons">home</i>Inicio</a></div>
      <div class="collapsible-body"></div>
    </li>

    <li *ngIf="identity == null" onclick="ocultar()" [routerLink]="['/login']">
      <div class="collapsible-header"><a class="item"><i class="material-icons">face</i>Ingresar</a></div>
      <div class="collapsible-body"></div>
    </li>

    <!-- MENU EMPLEADO -->
    <li *ngIf="identity && identity.nombre && identity.rol">
      <div class="collapsible-header"><i class="material-icons">work</i>acciones</div>
      <div class="collapsible-body">
        <ul>
          <li>
            <ul>
              <li><a href="#" onclick="ocultar()"><i class="material-icons">event_note</i>Prestamo</a></li>
              <li><a class="item" [routerLink]="['/articulo/nuevo']" routerLinkActive="router-link-active"
                  onclick="ocultar()"><i class="material-icons">laptop_chromebook</i>Articulo</a></li>
              <li><a class="item" [routerLink]="['/persona/crear']" routerLinkActive="router-link-active"
                  onclick="ocultar()"><i class="material-icons">person_add</i>Crear persona</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
    <!-- /MENU EMPLEADO -->

    <!-- MENU PERFIL -->
    <li *ngIf="identity && identity.nombre">
      <div class="collapsible-header"><i
          class="material-icons">account_circle</i>{{identity.nombre + ' ' + identity.apellido}}</div>
      <div class="collapsible-body">
        <ul>
          <li><a href="#" onclick="ocultar()"><i class="material-icons">settings</i>Perfil</a></li>
          <li><a [routerLink]="['/logout/1']" onclick="ocultar()"><i class="material-icons">exit_to_app</i>Salir</a>
          </li>
        </ul>
      </div>
    </li>
    <!-- /MENU PERFIL -->
  </ul>
  <!-- /MENU MOVIL -->
</header>

<div class="container">
  <!-- CONTENIDO -->
  <router-outlet></router-outlet>
</div>