<header>
  <nav class="blue darken-3">
      <div class="nav-wrapper container">
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="brand-logo">App</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li *ngIf="identity == null"><a [routerLink]="['/']">Inicio</a></li>
          <li *ngIf="identity == null"><a [routerLink]="['/login']" class="blue darken-1">Ingresar</a></li>

          <!-- EMPLEADO -->
          <li *ngIf="identity && identity.nombre && identity.rol">
            <ul>
              <li><a [routerLink]="['/articulo/nuevo']" routerLinkActive="router-link-active" ><i class="material-icons right">laptop_chromebook</i>Articulo</a></li>
              <li><a href="#"><i class="material-icons right">event_note</i>Prestamo</a></li>
              <li><a [routerLink]="['/persona/crear']" routerLinkActive="router-link-active" ><i class="material-icons right">person_add</i>Crear persona</a></li>
            </ul>
          </li>
          <!-- /EMPLEADO -->

          <li *ngIf="identity && identity.nombre"><a class='dropdown-trigger' data-target='Perfil'>
            <i class="material-icons right">account_circle</i> {{identity.nombre + ' ' + identity.apellido}} </a></li>
        </ul>
      </div>
    </nav>

    <ul id="Perfil" class="dropdown-content">
      <li><a href="#"><i class="material-icons right">cloud_upload</i>Subir foto</a></li>
      <li><a [routerLink]="['/logout/1']" routerLinkActive="router-link-active"  ><i class="material-icons right">exit_to_app</i>Salir</a></li>
    </ul>


  
    <!-- MENU MOVIL -->
    <ul class="sidenav collapsible" id="mobile-demo">
      <li  onclick="ocultar()" [routerLink]="['/']">
        <div class="collapsible-header"><a class="item"><i class="material-icons">home</i>Inicio</a></div>
        <div class="collapsible-body"></div>
      </li>
  
      <li *ngIf="identity == null"  onclick="ocultar()" [routerLink]="['/login']">
          <div class="collapsible-header"><a class="item"><i class="material-icons">face</i>Ingresar</a></div>      
          <div class="collapsible-body"></div>
        </li>

      <li *ngIf="identity && identity.nombre && identity.rol">
        <div class="collapsible-header"><i class="material-icons">work</i>acciones</div>
        <div class="collapsible-body">
          <ul>
            <!-- MENU EMPLEADO -->
            <li>
              <ul>
                <li><a class="item" href="#" onclick="ocultar()"><i class="material-icons">cloud_upload</i>Subir Foto de perfil</a></li>
                <li><a class="item" [routerLink]="['/articulo/nuevo']" routerLinkActive="router-link-active"  onclick="ocultar()"><i class="material-icons">laptop_chromebook</i>Articulo</a></li>
                <li><a class="item" [routerLink]="['/persona/crear']" routerLinkActive="router-link-active"  onclick="ocultar()"><i class="material-icons">person_add</i>Crear persona</a></li>
                </ul>
              </li>
              <!-- /MENU EMPLEADO -->                
            </ul>
          </div>
        </li>
        
      <li *ngIf="identity && identity.nombre">
        <div class="collapsible-header"><i class="material-icons">account_circle</i>{{identity.nombre + ' ' + identity.apellido}}</div>
        <div class="collapsible-body">
          <ul>
            <!-- MENU PERFIL -->
              <li><a href="#" onclick="ocultar()"><i class="material-icons">event_note</i>Prestamo</a></li>
              <li><a [routerLink]="['/logout/1']" onclick="ocultar()"><i class="material-icons">exit_to_app</i>Salir</a></li>
            <!-- /MENU PERFIL -->
            </ul>
          </div>
        </li>
    </ul>
    <!-- /MENU MOVIL -->
</header>

<div class="container">
  <!-- CONTENIDO -->
  <router-outlet></router-outlet>
</div>