<div class="row">
    <form class="col s12 m6 offset-m3 Signup" #loginForm="ngForm" (submit)="onSubmit(loginForm)" >
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">face</i>
                <input type="number" class="validate" id="C.C." name="C.C." 
                #cc="ngModel" [(ngModel)]="persona.cc" required pattern="[0-9]" >
                <label for="C.C.">C.C.</label>
                <small *ngIf="!cc.valid && cc.touched" class="col s12 warning" >Hola, que hace</small>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock</i>
                <input type="password" class="validate" id="password" name="password" 
                #password [(ngModel)]="persona.password">
                <label for="password">Contraseña</label>
            </div>
        </div>
        <div class="row center">
            <button class="btn-large waves-effect waves-light center" type="submit">Signin</button>
        </div>
    </form>
</div>