
  <div class="container">


    <div id="log_in" class="row">
      <div id="logo" class="col s10 offset-s1 m6 offset-m3 l5 offset-l3">
        <img class="responsive-img" src="img/logo_login_cundinamarca.png">
      </div>
      <div id="log_in_field" class="z-depth-4 col s10 offset-s1 m6 offset-m3 l5 offset-l3">
        <form class=" Signup" #loginForm="ngForm" (submit)="onSubmit(loginForm)">
          <div id="cc_field_user" class="row ">
            <div class="input-field col s12 m10 offset-m1 ">
              <i class="material-icons prefix grey-text text-lighten-5">account_circle</i>
              <input type="number" class="validate grey-text text-lighten-5" placeholder="C.C." id="user" name="C.C." #cc="ngModel" [(ngModel)]="persona.cc" required autocomplete="off">

              <!--           validacion de campo erronea             -->

              <label *ngIf="!cc.valid && cc.touched" for="C.C.">C.C. obligatorio</label>
            </div>
          </div>
          <div id="pasword_field_user" class="row">
            <div class="input-field col s12 m10 offset-m1">
              <i class="material-icons prefix grey-text text-lighten-5">lock</i>
              <input type="password" class="validate grey-text text-lighten-5" placeholder="Contraseña" id="password" name="password" #password [(ngModel)]="persona.password" required>
            </div>
          </div>

          <div class="row center">
            <input type="submit" value="ACCEDER" class="btn-large waves-effect waves-light center light-blue lighten-5  " [disabled]="loginForm.invalid">
          </div>
        </form>
      </div>
    </div>
  </div>
