/* You can add global styles to this file, and also import other style files */

.warning{
    margin: 10 0 10 0;
    background-color: rgba(255, 255, 0, 0.801);
    text-align: center;
    border-radius: 10px;
}